/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.links {
    text-align: center;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: white;
}
.bolded { font-weight: bold; }
.box {
    height: 100%;
    width: 100%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 20px;
}
.menuItem {
    height: 50px;
    /* width: 50%; */
    margin: 5%;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 25px;
}
body {
    font-family: "Roboto Mono", sans-serif;
}
.box1 {
    background-color: #FF764E;
    width: 20%;
    color: white;
}
.box2 {
    background-color: #5ED3EB;
    width: 20%;
}
.box3 {
    background-color: #FFCD69;
    width: 20%;
}
h1 {
    font-size: 72px;
}
#headline {
    font-family: "Chelsea Market", sans-serif;
}
.hdrBox {
    width: 100%;
    border: 2px solid red;
    /* margin: 100px; */
}
.hdrImage {
    border-radius: 1000px;
    width: 35%;
    display: inline-block;
    
    align-items: center;
}
.hdrText {
    display: inline-block;
    width: 50%;
    border: 2px solid red;
}
.bodyBox {
    width: 50%;
    margin: 0 auto;
}
.fireBox {
    /* border: 2px solid red; */
    width: 50%;
    margin: 0 auto;
}
.fireImg {
    display: block;
    /* width: 100%; */
    height: auto;
    max-width: 50%;
    /* scale: 50%; */
    margin-left: -50px;
    /* margin: auto; */
    /* border: 2px solid red; */
}
.fireText {
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
}
.campBox {
    width: 50%;
    margin: 0 auto;
}
.campImg {
    width: 50%;
    scale: 50%;
    border: 2px solid red;
}
.campText {
    width: 50%;
    text-align: center;
}
.introBox {
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 5%
}
footer {
    background-color: #F9E7DC;
}